<!-- aboutus.html -->
{% extends 'home.html' %}
{% block content %}
<body class="text-center m-10">

      <main role="main" class="inner cover">
        <h1 class="cover-heading" style="padding-top:100px;font-family: 'Ubuntu', sans-serif; color:white; font-size:5rem;">About Us</h1>
        <p class="lead" style="font-size: 2rem; text-align:justify; padding:50px;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum consequuntur veritatis dolore deserunt eum minima sed eaque debitis, at dolorem doloremque sunt aspernatur. Reprehenderit natus fuga, quos obcaecati dolorem eum, vero non impedit amet repellat qui voluptatem aut, molestiae earum. Veniam, alias. Quidem expedita atque dolorum ex, iste incidunt debitis?</p>
      </main>
    </div>
  </body>
{% endblock %}